<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="userFeatures.css">
    <title>Login</title>
</head>

<body>
    <nav class="nav">
        <div class="logo">AVS</div>
        <ul class="links">
            <li><a href="#home" class="links">Home</a></li>
            <li><a href="#register" class="links">Profile</a></li>
            <li><a href="#login" class="links">Profile</a></li>
            <li><a href="#home" class="links">Manage Users</a></li>
            <li><a href="#home" class="links">Register</a></li>
            <li><a href="/auth/login" class="links">Login</a></li>
            <li><a href="/auth/login" class="links">Logout</a></li>
        </ul>
    </nav>
<div class="loginOuter">
    <div class="login">
        <div class="logonLogo">Admin Features</div>
        <div class="form">
        User Features<br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corrupti dignissimos eveniet explicabo fugiat dolor esse inventore provident, consectetur odio culpa placeat, sequi perspiciatis nostrum rem veritatis vitae quas suscipit deserunt. Repudiandae quas facilis quod odit voluptates delectus ea quaerat, iusto ducimus corporis numquam soluta fugiat sapiente necessitatibus veniam modi eum quasi totam. Officiis numquam aperiam in. Hic, possimus accusamus!
    </div>
</div>



</body>

</html>