<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/Login.css">
    <title>Login</title>
</head>

<body>
    <nav class="nav">
        <div class="logo">AVS</div>
        <ul class="links">
            <li><a href="/" class="links">Home</a></li>
            <li><a href="/auth/register" class="links">Register</a></li>
            <li><a href="/auth/login" class="links">Login</a></li>
        </ul>
    </nav>
<div class="loginOuter">
    <div class="login">
        <div class="logonLogo">Login</div>
        <div class="form">
            <div class="id">Email/Username</div>
         <div> <input type="text" class="idInput"></div>  
            <div class="password">Password</div>
         <div>  <input type="text" class="passwordInput"></div> 
            <button class="button">Login</button>
        </div>
        <div class="register">Don't have an account? <a href="/auth/register" class="reg">Register</a></div>
    </div>
</div>



</body>

</html>