<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/Profile.css">
    <title>Login</title>
</head>

<body>
    <nav class="nav">
        <div class="logo">AVS</div>
        <ul class="links">
            <li><a href="#home" class="links">Home</a></li>
            <li><a href="#register" class="links">Profile</a></li>
            <li><a href="/auth/login" class="links">Logout</a></li>
        </ul>
    </nav>
<div class="loginOuter">
    <div class="login">
        <div class="logonLogo">Profile</div>
        <div class="form">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ducimus accusantium voluptas repudiandae soluta impedit harum deleniti quasi obcaecati alias nobis adipisci, dolorem libero, culpa, molestiae omnis consectetur nemo. Unde harum, saepe eius quam laudantium amet nam, quidem aliquid laboriosam quas deserunt magni dicta rerum reiciendis ratione dignissimos? Tenetur esse aut eveniet adipisci numquam ad. Magni doloribus, esse, vitae mollitia quia deleniti nemo optio debitis voluptatum consectetur ratione, hic accusantium itaque fugit reprehenderit! Libero qui commodi tenetur dicta harum obcaecati magnam ipsa repellendus praesentium, perferendis vitae quidem necessitatibus cupiditate reiciendis eveniet tempore quasi veritatis quaerat. Magnam sunt sint neque minima.
    </div>
</div>



</body>

</html>